---
import Layout from "../../layouts/VisionLayout.astro";
import Hero from "../../components/tracking/Hero.astro";
import MesPlanner from "../../components/tracking/MesPlanner.astro";
import MesManagement from "../../components/tracking/MesManagement.astro";
import MesHmi from "../../components/tracking/MesHmi.astro";
import MesAndon from "../../components/tracking/MesAndon.astro";
import ContactSection from "../../components/sections/ContactSection.astro";
---

<Layout
    title="Insytech MES: Trazabilidad y Monitoreo de Producci칩n"
    description="Sistemas de trazabilidad, monitoreo en tiempo real y an치lisis de producci칩n para manufactura. Control total de tu operaci칩n."
    siteName="Insytech MES"
>
    <main class="flex flex-col overflow-hidden">
        <Hero />
        <MesPlanner />
        <MesManagement />
        <MesHmi />
        <MesAndon />
        <ContactSection />
    </main>
</Layout>
