---
import Layout from "../../layouts/VisionLayout.astro";
import Hero from "../../components/tracking/Hero.astro";
import MesPlanner from "../../components/tracking/MesPlanner.astro";
import MesManagement from "../../components/tracking/MesManagement.astro";
import MesHmi from "../../components/tracking/MesHmi.astro";
import MesAndon from "../../components/tracking/MesAndon.astro";
import Container from "../../components/shared/Container.astro";
import ContactForm from "../../components/sections/ContactForm.astro";
---

<Layout
    title="Insytech MES: Trazabilidad y Monitoreo de Producci칩n"
    description="Sistemas de trazabilidad, monitoreo en tiempo real y an치lisis de producci칩n para manufactura. Control total de tu operaci칩n."
    siteName="Insytech MES"
>
    <main class="flex flex-col overflow-hidden">
        <Hero />
        <MesPlanner />
        <MesManagement />
        <MesHmi />
        <MesAndon />
        <!-- Contact Section -->
        <div class="relative" id="contact">
            <div class="absolute inset-0 z-0">
                <div class="absolute inset-0 bg-gray-100 dark:bg-gray-900/20">
                </div>
            </div>
            <div class="relative z-10 py-10">
                <ContactForm />
            </div>
        </div>
    </main>
</Layout>
