---
interface Props {
    text: string;
}
const { text } = Astro.props as Props;
---

<div
    class="w-fit bg-[#00B5E2]/10 border border-[#00B5E2]/20 dark:bg-[#2a5ecc]/10 dark:border-[#2a5ecc]/20 rounded-full px-5 py-2 flex items-center gap-2"
>
    <span
        class="w-2 h-2 rounded-full bg-[#00B5E2] dark:bg-[#71b5f5] animate-pulse"
    ></span>
    <span class="text-sm font-medium text-[#005EB8] dark:text-[#71b5f5]"
        >{text}</span
    >
</div>
