---
import Layout from "@layouts/VisionLayout.astro";
import Hero from "@components/control/Hero.astro";
import Services from "@components/control/Services.astro";
import Stats from "@components/control/Stats.astro";
import Performance from "@components/control/Performance.astro";
import Projects from "@components/control/Projects.astro";
import Testimonials from "@components/control/Testimonials.astro";
import CTA from "@components/control/CTA.astro";
import ContactForm from "@components/sections/ContactForm.astro";
import ContactSection from "@components/sections/ContactSection.astro";
---

<Layout
    title="Sistemas de Control y Automatización de Procesos"
    description="Soluciones avanzadas de PLC, SCADA e IoT industrial para la manufactura inteligente. Especialistas en integración de sistemas en todo México."
>
    <main class="flex flex-col overflow-hidden">
        <Hero />
        <Services />
        <Stats />
        <Performance />
        <Projects />
        <Testimonials />
        <CTA />

        <ContactSection />
    </main>
</Layout>
