---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section>
    <Container>
        <div
            class="lg:mt-24 border-t border-gray-100 dark:border-gray-800 pt-4"
        >
            <p class="text-center text-sm text-gray-600 dark:text-gray-600">
                Empresas que confían en nosotros
            </p>
            <div
                class="flex items-center justify-between gap-8 overflow-x-auto py-4 px-2 scrollbar-hide"
            >
                <img
                    src="/logos/navistar.webp"
                    alt="Navistar"
                    class="h-15 w-32 object-contain grayscale opacity-70 hover:grayscale-0 hover:opacity-100 transition-all"
                />
                <img
                    src="/logos/nasa.webp"
                    alt="NASA Nacional de Acero"
                    class="h-15 w-32 object-contain grayscale opacity-70 hover:grayscale-0 hover:opacity-100 transition-all"
                />
                <img
                    src="/logos/polaris.webp"
                    alt="Polaris"
                    class="h-15 w-32 object-contain grayscale opacity-70 hover:grayscale-0 hover:opacity-100 transition-all"
                />
                <img
                    src="/logos/pentair.webp"
                    alt="Pentair"
                    class="h-15 w-32 object-contain grayscale opacity-70 hover:grayscale-0 hover:opacity-100 transition-all"
                />
                <img
                    src="/logos/franklin-electric.webp"
                    alt="Franklin Electric"
                    class="h-15 w-32 object-contain grayscale opacity-70 hover:grayscale-0 hover:opacity-100 transition-all"
                />
                <img
                    src="/logos/tempel-group.webp"
                    alt="Tempel Group"
                    class="h-15 w-32 object-contain grayscale opacity-70 hover:grayscale-0 hover:opacity-100 transition-all"
                />
            </div>
        </div>
    </Container>
</section>
