---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section>
    <Container>
        <div class="mt-20 border-gray-100 dark:border-gray-800 pt-4">
            <p class="text-center text-sm text-gray-500 dark:text-gray-400">
                Empresas que confían en nosotros
            </p>
            <div
                class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-8 py-4 px-2"
            >
                <img
                    src="/logos/navistar.webp"
                    alt="Navistar"
                    class="h-15 w-32 object-contain grayscale dark:grayscale-0 opacity-70 hover:grayscale-0 hover:opacity-100 transition-all"
                    loading="lazy"
                />
                <img
                    src="/logos/nasa.webp"
                    alt="NASA Nacional de Acero"
                    class="h-15 w-32 object-contain grayscale dark:grayscale-0 opacity-70 hover:grayscale-0 hover:opacity-100 transition-all"
                    loading="lazy"
                />
                <img
                    src="/logos/polaris.webp"
                    alt="Polaris"
                    class="h-15 w-32 object-contain grayscale dark:grayscale-0 opacity-70 hover:grayscale-0 hover:opacity-100 transition-all"
                    loading="lazy"
                />
                <img
                    src="/logos/pentair.webp"
                    alt="Pentair"
                    class="h-15 w-32 object-contain grayscale dark:grayscale-0 opacity-70 hover:grayscale-0 hover:opacity-100 transition-all"
                    loading="lazy"
                />
                <img
                    src="/logos/franklin-electric.webp"
                    alt="Franklin Electric"
                    class="h-15 w-32 object-contain grayscale dark:grayscale-0 opacity-70 hover:grayscale-0 hover:opacity-100 transition-all"
                    loading="lazy"
                />
                <img
                    src="/logos/tempel-group.webp"
                    alt="Tempel Group"
                    class="h-15 w-32 object-contain grayscale dark:grayscale-50 opacity-70 hover:grayscale-0 hover:opacity-100 transition-all"
                    loading="lazy"
                />
            </div>
        </div>
    </Container>
</section>
