---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title> Clientes que confían en Insytech </Title>
            <p class="text-lg text-gray-600">
                Estas empresas han confiado en nuestros sistemas para optimizar
                sus procesos industriales.
            </p>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <div
                class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
            >
                <img
                    src="/logos/navistar.webp"
                    width="100"
                    height="60"
                    alt="Navistar"
                    class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
            </div>
            <div
                class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
            >
                <img
                    src="/logos/nasa.webp"
                    width="100"
                    height="60"
                    alt="NASA Nacional de Acero"
                    class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
            </div>
            <div
                class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
            >
                <img
                    src="/logos/polaris.webp"
                    width="100"
                    height="60"
                    alt="Polaris"
                    class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
            </div>
            <div
                class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
            >
                <img
                    src="/logos/pentair.webp"
                    width="100"
                    height="60"
                    alt="Pentair"
                    class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
            </div>
            <div
                class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
            >
                <img
                    src="/logos/franklin-electric.webp"
                    width="100"
                    height="60"
                    alt="Franklin Electric"
                    class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
            </div>
            <div
                class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"
            >
                <img
                    src="/logos/tempel-group.webp"
                    width="100"
                    height="60"
                    alt="Tempel Group"
                    class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
                />
            </div>
        </div>
    </Container>
</section>
