---
import Container from "../shared/Container.astro";
---

<section class="relative mt-12 md:mt-16">
  <Container>
    <div
      class="mx-auto lg:mx-0 p-6 sm:p-8 py-8 sm:py-10 max-w-5xl rounded-3xl bg-transparent border border-box-border shadow-lg shadow-box-shadow md:divide-x divide-box-border grid grid-cols-2 md:grid-cols-4 gap-8 md:gap-6 lg:gap-12"
    >
      <div class="text-center">
        <h2
          class="font-black text-3xl sm:text-4xl md:text-5xl text-[#005EB8] dark:text-[#00B5E2] tracking-tighter"
        >
          100+
        </h2>
        <p
          class="mt-2 text-sm sm:text-base font-medium text-heading-3 uppercase tracking-wider"
        >
          Proyectos
        </p>
      </div>

      <div class="text-center">
        <h2
          class="font-black text-3xl sm:text-4xl md:text-5xl text-[#005EB8] dark:text-[#00B5E2] tracking-tighter"
        >
          50+
        </h2>
        <p
          class="mt-2 text-sm sm:text-base font-medium text-heading-3 uppercase tracking-wider"
        >
          Expertos
        </p>
      </div>

      <div class="text-center">
        <h2
          class="font-black text-3xl sm:text-4xl md:text-5xl text-[#005EB8] dark:text-[#00B5E2] tracking-tighter"
        >
          120+
        </h2>
        <p
          class="mt-2 text-sm sm:text-base font-medium text-heading-3 uppercase tracking-wider"
        >
          Clientes
        </p>
      </div>

      <div class="text-center">
        <h2
          class="font-black text-3xl sm:text-4xl md:text-5xl text-[#005EB8] dark:text-[#00B5E2] tracking-tighter"
        >
          8+
        </h2>
        <p
          class="mt-2 text-sm sm:text-base font-medium text-heading-3 uppercase tracking-wider"
        >
          Años
        </p>
      </div>
    </div>
  </Container>
</section>
