---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import Paragraph from "../shared/Paragraph.astro";
import Button from "../shared/Button.astro";
import FormBase from "./FormBase.astro";
import Badge from "@components/shared/Badge.astro";
import BtnLink from "@components/shared/BtnLink.astro";
---

<section id="contact" class="relative overflow-hidden py-20">
    <Container className="relative z-10 space-y-10">
        <!-- Título y descripción -->

        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title> ¿Tienes un proyecto en mente? </Title>
            <Paragraph>
                Conversemos sobre cómo aplicar automatización, trazabilidad o
                visión computacional en tu operación.
            </Paragraph>
        </div>

        <!-- Formulario -->
        <div
            class="max-w-3xl mx-auto bg-white dark:bg-gray-950 border border-gray-200 dark:border-gray-800 shadow-lg rounded-2xl p-6 sm:p-8"
        >
            <FormBase />
        </div>
    </Container>
</section>
