---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Services from "../components/sections/Services.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import Features from "../components/sections/Features.astro";
import Process from "../components/sections/Process.astro";
import ContactSection from "../components/sections/ContactSection.astro";
---

<Layout
	title="Ingeniería, Software y Automatización Industrial en México"
	description="Expertos en soluciones integradas de ingeniería, software industrial, IA y automatización. Optimizamos procesos productivos en Monterrey y todo México."
>
	<main class="flex flex-col overflow-hidden">
		<Hero />
		<Services />
		<!-- <AboutUs /> -->
		<Features />
		<Process />
		<ContactSection />
	</main>
</Layout>
