---
import Layout from "@layouts/VisionLayout.astro";
import Hero from "@components/software/Hero.astro";
import SoftwareServices from "@components/software/SoftwareServices.astro";
import SoftwareProcess from "@components/software/SoftwareProcess.astro";
import ContactSection from "@components/sections/ContactSection.astro";
---

<Layout
    title="Insytech Software: Desarrollo de Software Industrial"
    description="Ecosistemas digitales robustos: interfaces HMI, sistemas MES e integraciones críticas para la industria 4.0."
    siteName="Insytech Software"
>
    <main class="flex flex-col">
        <Hero />

        <SoftwareServices />

        <SoftwareProcess />

        <ContactSection />
    </main>
</Layout>
