---
import Layout from "@layouts/VisionLayout.astro";
import Hero from "@components/software/Hero.astro";
import SoftwareServices from "@components/software/SoftwareServices.astro";
import SoftwareProcess from "@components/software/SoftwareProcess.astro";
import FAQ from "@components/software/FAQ.astro";
import ContactSection from "@components/sections/ContactSection.astro";
---

<Layout
    title="Software Industrial y a la Medida | Web y Apps"
    description="Software industrial y a la medida en Monterrey: e-commerce, aplicaciones web y móviles, landing pages y software de escritorio. Cotiza tu proyecto."
>
    <main class="flex flex-col">
        <Hero />

        <SoftwareServices />

        <SoftwareProcess />

        <FAQ />

        <ContactSection />
    </main>
</Layout>
